*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #c31b2f;
    height: 100vh;
    position: relative;
    width: 100%;
}
.hello{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 50px;
}
.designing{
    color: gold;
    text-align: center;
    
}
.my{
    color: white;
}
.lets{
    color: firebrick;
    border:0.1rem solid white;
    width: 100px;
    height: 40px;
    /* padding: 0.6rem 0.9rem; */
    text-align: center;
}
.nav a{
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 300;
}

a:hover{
    color: #c31b2f;

}
.nav a.active{
    color: #c31b2f;
}
.logo-name{
    color: #c31b2f;
    font-size: 25px;
    font-weight: 800;
}
span{
    color: blue;
}


.nav-div{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    
    
}
.nav-section{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 2px 5px 10px 15px rgba(0, 0, 0, 0.1);
}


.about{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profile-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}
.tech{
    text-align: center;
    text-wrap: wrap;
    
}
.paragraph p{
    line-height: 2rem;
}
.school{
    line-height: 2rem;
}
.SCHOOL{
    margin-top: 20px;
}
.box-shadow{
    box-shadow: 4px 1px 2px 5px rgba(0, 0, 0, 0.1);

}
.box-shadow img{
    height: 400px;
}
.skills{
    margin: 20px;

}
.skills-menu-div div:nth-child(1){
    height: 200px;
    width: 200px;
    border: 0.2rem solid #c31b2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    border-left-color: grey;
    margin-top: 10px;
    

}
.services{
    margin: 50px;

}
.services-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 99px;
    margin: 30px;
}
.services-menu-div div:nth-child(1){
    height: 100px;
    width: 300px;
    border: 0.1rem solid #c31b2f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 10;
    border-left-color: grey;
    margin-top: 10px;
    background-color: #c31b2f;
    color: white;
    box-shadow: 5px 9px 10px 20px rgba(0, 0, 0, 0.2);

}

/* .div2 div:nth-child(1){
    height: 200px;
    width: 200px;
    border: 0.8rem solid #c31b2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    border-left-color:blue;


} */
.services-menu-div > div{
    height: 200px;
    width: 200px;
    border: 0.8rem solid #c31b2f;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    border-left-color: grey;
    margin-top: 10px;
    

}
/* .skills-menu-div div:nth-child(1){
    height: 200px;
    width: 200px;
    border: 0.8rem solid #c31b2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    border-left-color: grey;
    margin-top: 10px;


} */



/* .div3 div:nth-child(1){
    height: 200px;
    width: 200px;
    border: 0.8rem solid #c31b2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    border-left-color: rebeccapurple;


} */
.skills-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
}
.skills-menu-div{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.skills-menu-div div h5{
    font-size: 20px;
}
.name{
    text-align: center;
    color: white;
}
.testimonial-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 2rem 0 2rem;
}
.team{
    border-radius: 50%;
    height: 100px;
}
.testimonial-div > div{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

}
.footer{
    background-color: #c31b2f;
    display: flex;
    position: relative;
    height: 600px;
    width: 100%;
    
} 
 .footer > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
form{
    background-color: white;
    padding: 40px;
    width: 100%;
    height: 500px;

}
.copyright{
    text-align: center;
}
.submit{
    background-color:  blue;
    color: white;
    border: none;
}


[type="text"],[type="email"],[type="number"],[type="submit"] {
    width: 100%;
    height: 38px;
}

@media(max-width:786px){
    .nav-div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    
    }
    
    .nav a{
        padding: 0.3rem;
        text-decoration: none;
        color: black;
        font-size: 10px;
        font-weight: 300;
    }

    .about{
        display: flex;
        flex-direction: column;
    }

    .profile-div{
        display: flex;
        flex-direction: column;
    }

    .skills-menu{
        display: flex;
        flex-wrap: wrap;
    }

    .services-menu{
        display: flex;
        flex-wrap: wrap;
    }

    .skills-menu-div div:nth-child(1){
        height: 150px;
        width: 150px;
        font-size: 30px;
        
        
    
    }

    .testimonial-div{
        display: flex;
        flex-wrap: wrap;
    }

    [type="text"],[type="email"],[type="number"],[type="submit"] {
        width: 100%;
        height: 38px;
    }

    .form{
        /* padding: 100px; */
        align-content: center;
        margin: auto;
    }
}